// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.wpcf7-form {
  .btn-primary {
    @extend .w-100;
  }
  .btn-primary {
    max-width: 328px;
  }
}

input[type="date"]::before{
  content: attr(placeholder) ": ";
  opacity: 1;
  width: 100%;
}
input[type="date"].full::before {
  content: "" !important;
  opacity: 0;
  width: 0;
}

select.form-control, select.form-control:focus, input[id=keyword] {
  background-color: $white;
  border-radius: 9px;
  border-width: 1px;
  border-color: rgba(#000, .4);
}

select.form-control {
  background: url(../images/arrow_select.png) no-repeat right $white;
  background-size: 11px 14px;
  background-position-x: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/arrow_select@2x.png);
  }
}

select.form-control::-ms-expand {
  display: none;
}

.custom-label {
  .checkbox {
    float: left !important;
    line-height: 0 !important;
    width: 33px;
    + label {
      float: left !important;
      max-width: calc(100% - 37px);
    }
  }
}

.checkbox {
  label {
    margin-left: 30px;
    position: relative;
    &::before, &::after {
      content: '';
      visibility: visible;
      position: absolute;
      cursor: pointer;
    }
    &::before {
      width: 22px;
      height: 22px;
      background-color: $input-bg;
      left: -30px;
      top: 0;
    }
    &.checked {
      &::after {
        width: 11px;
        height: 11px;
        background-color: $brand-primary;
        left: -24.5px;
        top: 5.5px;
      }
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}

form div[class^="col"]:last-of-type {
  p, label[for] {
    line-height: 1.23rem;
  }
}

form {
  padding-bottom: 100px;
  .btn-primary {
    font-size: 1.4rem;
  }
}